
.user-card {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid white;
  background-color: black;
  color: white;
  white-space: nowrap;
}

.user-card-id {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  font-size: 12px;
  font-weight: bold;
}

.user-card-inner {
  border-top: 1px solid gray;
  padding: 1rem;
}

.user-address-field {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(147, 43, 44);
  padding-top: 8px;
  margin-top: 1rem;
}